.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #333347;
  flex-wrap: wrap;
}


.App_joke_title {
  height: 28rem;
  width: 30rem;

}

.App_title_wrapper{
  display: flex;
  align-items: center;
  padding-left: 15px;
  width: 100%;
  height: 2.5rem;
  background-color: #25273c;
  border-radius: 15px;
  overflow: hidden;
}

.App_joke_box{
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  padding-left: 15px;
  padding-top: 10px;
  background-color: #25273c;
  border-radius: 15px;
  overflow: hidden;
}

.App_joke_box_2{
  box-sizing: border-box;
  width: 100%;
  height: 74px;
  padding-left: 15px;
  padding-top: 10px;
  margin-top: 10px;
  background-color: #25273c;
  border-radius: 15px;
  overflow: hidden;
}

.App_joke_gen{
  width: 5rem;
  height: 100%;
  background-color: #4ec032;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
